/* @media screen and (max-width:600px) {
    body{
        background-color: red;
    }
} */
/* @media (orientation:landscape){
    body{
        background-color: purple;
    }
} */
.responsive{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 400px;
    height: 500px;
    background-color: purple;
    color: white;
    border: 3px dashed rgb(245, 137, 245);
    padding: 25px 25px 25px 25px;
    line-height: 30px;
}
@media (max-width:900px){
    .responsive{
        flex-direction: column;
    }.box{
        width: 100%;
        margin-top: 30px;
    }
}